<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">			
	<title>修改密码</title>	
	<link rel="stylesheet" href="./../public/css/ydui.css">
	<link rel="stylesheet" href="./../public/css/reset.css">
	<link rel="stylesheet" href="./newpassword.css">
</head>
<body>
	<section id="newpassword" class="newpassword">
<!-- 		<div class="Globalnavstyle">
			<div class="Globalnavstyle_div" @click="goBackToTheLastPage">
				<img class="Globalnavstyle_img"  src="./../public/img/goreturn.png">
			</div>
			<div>修改密码</div>
		</div> -->
		<div class="content">
			<div class="list">
				<ul>
					<li class="listli">
						<div class="text">
							新密码: 
						</div>
						<div class="inputdiv">
							<input class="input" type="password" v-model="newpassword" placeholder="请填写新密码">
						</div>
					</li>
					<li class="listli">
						<div class="text">
						    确认密码: 
						</div>
						<div class="inputdiv">
							<input class="input" type="password" v-model="newdetermine" placeholder="请确认新密码">
						</div>						
					</li>
				</ul>
			</div>
			<div class="warn">
                密码必须6-12位字母数字组合
			</div>
            <div class="carryout" v-on:click="carryout">完成</div>	
		</div>
	</section>
	<script type="text/javascript" charset="utf-8" src="./../public/js/vue2-5-16.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../public/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../public/js/md5.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../public/js/ydui.flexible.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../public/js/ydui.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../public/js/HttpServer.js"></script>
	<script>
		var vm = new Vue({
			el:'#newpassword',
			data:{
				newpassword: '',
				newdetermine:'',
				pwd:'',
                passwordex :/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/,//6-12位字母数字组合
				url:base+'RMobile/app/updLogPwd'
			},
			methods:{
              goBackToTheLastPage: function() {
                 window.history.go(-1)
              },
			  parseStrObjByRegExp:function(strDes) {
				  var obj = {};
				  strDes.replace(/(\w+)(?:=([^&]*))?/g, function (str, key, value) {
					  obj[key] = value;
					  // console.log(str,key,value)
				  });
				  return obj;
              },
              yd: function() {
                 console.log(YDUI.device)
				  //console.log(window.location.search)
				  console.log(this.parseStrObjByRegExp(window.location.search))
				  this.pwd = this.parseStrObjByRegExp(window.location.search).PWD
              },
              carryout: function () {
                  var dialog = YDUI.dialog;
                  var that = this;
					if(!this.passwordex.test(this.newpassword)){
					    document.getElementsByClassName("warn")[0].style.color= "red";
                        dialog.toast('密码格式输入不正确', 'none', 1000);
                        return
					}
				    if(this.newdetermine != this.newpassword){
						  dialog.toast('两次密码不一致', 'none', 1000);
						  return
					}
				  var obj = {};
                  obj.WX = WX;
                  obj.ORG_ID = _location.ORG_ID;
                  obj.LOGIN_ID = _location.LOGIN_ID;
                  obj.PWD = this.pwd;
                  obj.NPWD = md5(this.newpassword);
                  obj.AFFNPWD = md5(this.newdetermine);
                  HttpServer(this.url,obj).then(function(data){
					  if(data == 'RSPCODE') {
                          dialog.toast(data.RSPMSG, 'none', 1000);
                          that.newpassword = '';
                          that.newdetermine = '';
					  }else{
                          dialog.toast(data.RSPMSG, 'none', 1000);
					  }
				  })
              }             
			},		
			mounted: function () {
               this.yd()
			}
		})		
	</script>	
</body>
</html>