body {
    background-color: rgb(243,243,243);
}
[v-cloak] {
    display: none !important;
}
#newpassword {
	width: 100%;
}
#newpassword .content {
    width: 100%;
}
#newpassword .list {
    width: 100%;
    margin-top: .2rem;
}
#newpassword .listli {
    width: 100%;
    overflow: hidden;
    height: 1rem;
    line-height: 1rem;
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: .13rem;
}
#newpassword .text {
    font-size: .3rem;
    letter-spacing: 1px;
    display: inline-block;
    width: 22%;
    padding-left: .2rem;
    color: #555555;
}
#newpassword .inputdiv {
    display: inline-block;
    width: 75%;
    height: 1rem;
    line-height: 1rem;
}
#newpassword .input {
    width: 100%;
    border-bottom: 1px solid #20bda9;
    height: .5rem;
}
#newpassword .warn {
    font-size: .3rem;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: .2rem;
    color: #555555;
    margin-top: .2rem;	
}
#newpassword .carryout {
    width: 95%;
    text-align: center;
    background-color: #20bda9;
    margin: 0 auto;
    height: .66rem;
    color: #ffffff;
    line-height: .66rem;
    border-radius: .05rem;
    font-size: .3rem;
    margin-top: 0.45rem;	
}